In [1]:
import pandas as pd

In [38]:
dfChar = pd.read_csv('star-wars/characters.csv',sep=',', encoding='utf-8',quoting=0,)
dfPlant = pd.read_csv('star-wars/planets.csv',sep=',', encoding='utf-8',quoting=0,)
dfSpec = pd.read_csv('star-wars/species.csv',sep=',', encoding='utf-8',quoting=0,)
dfStar = pd.read_csv('star-wars/starships.csv',sep=',', encoding='utf-8',quoting=0,)
dfVeh = pd.read_csv('star-wars/vehicles.csv',sep=',', encoding='utf-8',quoting=0,)

In [39]:
dfChar.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human

In [49]:
dfchar2 = dfChar.groupby('mass')
dfchar2.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
5,Owen Lars,178.0,120,"brown, grey",light,blue,52BBY,male,Tatooine,Human
6,Beru Whitesun lars,165.0,75,brown,light,blue,47BBY,female,Tatooine,Human
7,R5-D4,97.0,32,NaN,"white, red",red,NaN,NaN,Tatooine,Droid
8,Biggs Darklighter,183.0,84,black,light,brown,24BBY,male,Tatooine,Human
9,Obi-Wan Kenobi,182.0,77,"auburn, white",fair,blue-gray,57BBY,male,Stewjon,Human
10,Anakin Skywalker,188.0,84,blond,fair,blue,41.9BBY,male,Tatooine,Human
11,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64BBY,male,Eriadu,Human
12,Chewbacca,228.0,112,brown,NaN,blue,200BBY,male,Kashyyyk,Wookiee
13,Han Solo,180.0,80,brown,fair,brown,29BBY,male,Corellia,Human
14,Greedo,173.0,74,NaN,green,black,44BBY,male,Rodia,Rodian
15,Jabba Desilijic Tiure,175.0,"1,358",NaN,"green-tan, brown",orange,600BBY,hermaphrodite,Nal Hutta,Hutt
16,Wedge Antilles,170.0,77,brown,fair,hazel,21BBY,male,Corellia,Human
17,Jek Tono Porkins,180.0,110,brown,fair,blue,NaN,male,Bestine IV,Human
18,Yoda,66.0,17,white,green,brown,896BBY,male,NaN,Yoda's species
19,Palpatine,170.0,75,grey,pale,yellow,82BBY,male,Naboo,Human
20,Boba Fett,183.0,78.2,black,fair,brown,31.5BBY,male,Kamino,Human
21,IG-88,200.0,140,none,metal,red,15BBY,none,NaN,Droid
22,Bossk,190.0,113,none,green,red,53BBY,male,Trandosha,Trandoshan
23,Lando Calrissian,177.0,79,black,dark,brown,31BBY,male,Socorro,Human
24,Lobot,175.0,79,none,light,blue,37BBY,male,Bespin,Human
25,Ackbar,180.0,83,none,brown mottle,orange,41BBY,male,Mon Cala,Mon Calamari
26,Mon Mothma,150.0,NaN,auburn,fair,blue,48BBY,female,Chandrila,Human
27,Arvel Crynyd,NaN,NaN,brown,fair,brown,NaN,male,NaN,Human
28,Wicket Systri Warrick,88.0,20,brown,brown,brown,8BBY,male,Endor,Ewok
29,Nien Nunb,160.0,68,none,grey,black,NaN,male,Sullust,Sullustan
...,...,...,...,...,...,...,...,...,...,...
33,Jar Jar Binks,196.0,66,none,orange,orange,52BBY,male,Naboo,Gungan
34,Roos Tarpals,224.0,82,none,grey,orange,NaN,male,Naboo,Gungan
35,Rugor Nass,206.0,NaN,none,green,orange,NaN,male,Naboo,Gungan
38,Sebulba,112.0,40,none,"grey, red",orange,NaN,male,Malastare,Dug
41,Darth Maul,175.0,80,none,red,yellow,54BBY,male,Dathomir,Zabrak
43,Ayla Secura,178.0,55,none,blue,hazel,48BBY,female,Ryloth,Twi'lek
44,Dud Bolt,94.0,45,none,"blue, grey",yellow,NaN,male,Vulpter,Vulptereen
46,Ben Quadinaros,163.0,65,none,"grey, green, yellow",orange,NaN,male,Tund,Toong
47,Mace Windu,188.0,84,none,dark,brown,72BBY,male,Haruun Kal,Human
48,Ki-Adi-Mundi,198.0,82,white,pale,yellow,92BBY,male,Cerea,Cerean
49,Kit Fisto,196.0,87,none,green,black,NaN,male,Glee Anselm,Nautolan
51,Adi Gallia,184.0,50,none,dark,blue,NaN,female,Coruscant,Tholothian
54,Plo Koon,188.0,80,none,orange,black,22BBY,male,Dorin,Kel Dor
56,Gregar Typho,185.0,85,black,dark,brown,NaN,male,Naboo,Human
59,Poggle the Lesser,183.0,80,none,green,yellow,NaN,male,Geonosis,Geonosian
60,Luminara Unduli,170.0,56.2,black,yellow,blue,58BBY,female,Mirial,Mirialan
61,Barriss Offee,166.0,50,black,yellow,blue,40BBY,female,Mirial,Mirialan
63,Dooku,193.0,80,white,fair,brown,102BBY,male,Serenno,Human
65,Jango Fett,183.0,79,black,tan,brown,66BBY,male,Concord Dawn,Human
66,Zam Wesell,168.0,55,blonde,"fair, green, yellow",yellow,NaN,female,Zolan,Clawdite
67,Dexter Jettster,198.0,102,none,brown,yellow,NaN,male,Ojom,Besalisk
68,Lama Su,229.0,88,none,grey,black,NaN,male,Kamino,Kaminoan
71,Ratts Tyerell,79.0,15,none,"grey, blue",NaN,NaN,male,Aleen Minor,Aleena
73,Wat Tambor,193.0,48,none,"green, grey",NaN,NaN,male,Skako,Skakoan
75,Shaak Ti,178.0,57,none,"red, blue, white",black,NaN,female,Shili,Togruta
76,Grievous,216.0,159,none,"brown, white","green, yellow",NaN,male,Kalee,Kaleesh
77,Tarfful,234.0,136,brown,brown,blue,NaN,male,Kashyyyk,Wookiee
78,Raymus Antilles,188.0,79,brown,light,brown,NaN,male,Alderaan,Human
79,Sly Moore,178.0,48,none,pale,white,NaN,female,Umbara,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [41]:
dfPlant.head()

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population
0,Alderaan,24.0,364.0,12500.0,temperate,1 standard,"grasslands, mountains",40.0,2.000000e+09
1,Yavin IV,24.0,4818.0,10200.0,"temperate, tropical",1 standard,"jungle, rainforests",8.0,1.000000e+03
2,Hoth,23.0,549.0,7200.0,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100.0,NaN
3,Dagobah,23.0,341.0,8900.0,murky,NaN,"swamp, jungles",8.0,NaN
4,Bespin,12.0,5110.0,118000.0,temperate,"1.5 (surface), 1 standard (Cloud City)",gas giant,0.0,6.000000e+06

In [42]:
dfSpec.head()

,name,classification,designation,average_height,skin_colors,hair_colors,eye_colors,average_lifespan,language,homeworld
0,Hutt,gastropod,sentient,300.0,"green, brown, tan",NaN,"yellow, red",1000,Huttese,Nal Hutta
1,Yoda's species,mammal,sentient,66.0,"green, yellow","brown, white","brown, green, yellow",900,Galactic basic,NaN
2,Trandoshan,reptile,sentient,200.0,"brown, green",none,"yellow, orange",NaN,Dosh,Trandosha
3,Mon Calamari,amphibian,sentient,160.0,"red, blue, brown, magenta",none,yellow,NaN,Mon Calamarian,Mon Cala
4,Ewok,mammal,sentient,100.0,brown,"white, brown, black","orange, brown",NaN,Ewokese,Endor

In [46]:
dfStar.head()
dfchar2 = dfStar.groupby('length')
dfchar2.head()

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class
0,Executor,Executor-class star dreadnought,"Kuat Drive Yards, Fondor Shipyards",1.143350e+09,19000,NaN,279144.0,38000.0,2.500000e+08,6 years,2.0,40.0,Star dreadnought
1,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",2.400000e+05,38,1000,5.0,75.0,1.800000e+05,1 month,1.0,70.0,landing craft
2,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1.000000e+12,120000,NaN,342953.0,843342.0,1.000000e+12,3 years,4.0,10.0,Deep Space Mobile Battlestation
3,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,1.000000e+05,34.37,1050,4.0,6.0,1.000000e+05,2 months,0.5,75.0,Light freighter
4,Y-wing,BTL Y-wing,Koensayr Manufacturing,1.349990e+05,14,1000km,2.0,0.0,1.100000e+02,1 week,1.0,80.0,assault starfighter
5,X-wing,T-65 X-wing,Incom Corporation,1.499990e+05,12.5,1050,1.0,0.0,1.100000e+02,1 week,1.0,100.0,Starfighter
6,TIE Advanced x1,Twin Ion Engine Advanced x1,Sienar Fleet Systems,NaN,9.2,1200,1.0,0.0,1.500000e+02,5 days,1.0,105.0,Starfighter
7,Slave 1,Firespray-31-class patrol and attack,Kuat Systems Engineering,NaN,21.5,1000,1.0,6.0,7.000000e+04,1 month,3.0,70.0,Patrol craft
8,Imperial shuttle,Lambda-class T-4a shuttle,Sienar Fleet Systems,2.400000e+05,20,850,6.0,20.0,8.000000e+04,2 months,1.0,50.0,Armed government transport
9,EF76 Nebulon-B escort frigate,EF76 Nebulon-B escort frigate,Kuat Drive Yards,8.500000e+06,300,800,854.0,75.0,6.000000e+06,2 years,2.0,40.0,Escort ship
10,Calamari Cruiser,MC80 Liberty type Star Cruiser,Mon Calamari shipyards,1.040000e+08,1200,NaN,5400.0,1200.0,NaN,2 years,1.0,60.0,Star Cruiser
11,A-wing,RZ-1 A-wing Interceptor,"Alliance Underground Engineering, Incom Corpor...",1.750000e+05,9.6,1300,1.0,0.0,4.000000e+01,1 week,1.0,120.0,Starfighter
12,B-wing,A/SF-01 B-wing starfighter,Slayn & Korpil,2.200000e+05,16.9,950,1.0,0.0,4.500000e+01,1 week,2.0,91.0,Assault Starfighter
13,Republic Cruiser,Consular-class cruiser,Corellian Engineering Corporation,NaN,115,900,9.0,16.0,NaN,NaN,2.0,NaN,Space cruiser
14,Naboo fighter,N-1 starfighter,Theed Palace Space Vessel Engineering Corps,2.000000e+05,11,1100,1.0,0.0,6.500000e+01,7 days,1.0,NaN,Starfighter
15,Naboo Royal Starship,J-type 327 Nubian royal starship,"Theed Palace Space Vessel Engineering Corps, N...",NaN,76,920,8.0,NaN,NaN,NaN,1.8,NaN,yacht
16,Scimitar,Star Courier,Republic Sienar Systems,5.500000e+07,26.5,1180,1.0,6.0,2.500000e+06,30 days,1.5,NaN,Space Transport
17,J-type diplomatic barge,J-type diplomatic barge,"Theed Palace Space Vessel Engineering Corps, N...",2.000000e+06,39,2000,5.0,10.0,NaN,1 year,0.7,NaN,Diplomatic barge
18,AA-9 Coruscant freighter,Botajef AA-9 Freighter-Liner,Botajef Shipyards,NaN,390,NaN,NaN,30000.0,NaN,NaN,NaN,NaN,freighter
19,Jedi starfighter,Delta-7 Aethersprite-class interceptor,Kuat Systems Engineering,1.800000e+05,8,1150,1.0,0.0,6.000000e+01,7 days,1.0,NaN,Starfighter
20,H-type Nubian yacht,H-type Nubian yacht,Theed Palace Space Vessel Engineering Corps,NaN,47.9,8000,4.0,NaN,NaN,NaN,0.9,NaN,yacht
21,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,1.500000e+08,"1,600",975,47060.0,0.0,3.600000e+07,2 years,2.0,60.0,Star Destroyer
22,Trade Federation cruiser,Providence-class carrier/destroyer,"Rendili StarDrive, Free Dac Volunteers Enginee...",1.250000e+08,1088,1050,600.0,48247.0,5.000000e+07,4 years,1.5,NaN,capital ship
23,Theta-class T-2c shuttle,Theta-class T-2c shuttle,Cygnus Spaceworks,1.000000e+06,18.5,2000,5.0,16.0,5.000000e+04,56 days,1.0,NaN,transport
24,T-70 X-wing fighter,T-70 X-wing fighter,Incom,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,fighter
25,Rebel transport,GR-75 medium transport,"Gallofree Yards, Inc.",NaN,90,650,6.0,90.0,1.900000e+07,6 months,4.0,20.0,Medium transport
26,Droid control ship,Lucrehulk-class Droid Control Ship,"Hoersch-Kessel Drive, Inc.",NaN,3170,NaN,175.0,139000.0,4.000000e+09,500 days,2.0,NaN,Droid control ship
27,Republic Assault ship,Acclamator I-class assault ship,Rothana Heavy Engineering,NaN,752,NaN,700.0,16000.0,1.125000e+07,2 years,0.6,NaN,assault ship
28,Solar Sailer,Punworcca 116-class interstellar sloop,Huppla Pasa Tisc Shipwrights Collective,3.570000e+04,15.2,1600,3.0,11.0,2.400000e+02,7 days,1.5,NaN,yacht
29,Republic attack cruiser,Senator-class Star Destroyer,"Kuat Drive Yards, Allanteen Six shipyards",5.900000e+07,1137,975,7400.0,2000.0,2.000000e+07,2 years,1.0,NaN,star destroyer
30,Naboo star skiff,J-type star skiff,Theed Palace Space Vessel Engineering Corps/Nu...,NaN,29.2,1050,3.0,3.0,NaN,NaN,0.5,NaN,yacht
31,Jedi Interceptor,Eta-2 Actis-class light interceptor,Kuat Systems Engineering,3.200000e+05,5.47,1500,1.0,0.0,6.000000e+01,2 days,1.0,NaN,starfighter
32,arc-170,Aggressive Reconnaissance-170 starfighte,"Incom Corporation, Subpro Corporation",1.550000e+05,14.5,1000,3.0,0.0,1.100000e+02,5 days,1.0,100.0,starfighter
33,Belbullab-22 starfighter,Belbullab-22 starfighter,Feethan Ottraw Scalable Assemblies,1.680000e+05,6.71,1100,1.0,0.0,1.400000e+02,7 days,6.0,NaN,starfighter
34,V-wing,Alpha-3 Nimbus-class V-wing starfighter,Kuat Systems Engineering,1.025000e+05,7.9,1050,1.0,0.0,6.000000e+01,15 hours,1.0,NaN,starfighter
35,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3.500000e+06,150,950,165.0,600.0,3.000000e+06,1 year,2.0,60.0,corvette
36,Banking clan frigate,Munificent-class star frigate,"Hoersch-Kessel Drive, Inc, Gwori Revolutionary...",5.700000e+07,825,NaN,200.0,NaN,4.000000e+07,2 years,1.0,NaN,cruiser

In [52]:
dfVeh.head()
dfVeh2 = dfVeh.groupby('cost_in_credits')
dfVeh2.head()

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class
0,Sand Crawler,Digger Crawler,Corellia Mining Corporation,150000.0,36.80,30.0,46,30.0,50000,2 months,wheeled
1,T-16 skyhopper,T-16 skyhopper,Incom Corporation,14500.0,10.40,1200.0,1,1.0,50,0,repulsorcraft
2,X-34 landspeeder,X-34 landspeeder,SoroSuub Corporation,10550.0,3.40,250.0,1,1.0,5,NaN,repulsorcraft
3,TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,Sienar Fleet Systems,NaN,6.40,1200.0,1,0.0,65,2 days,starfighter
4,Snowspeeder,t-47 airspeeder,Incom corporation,NaN,4.50,650.0,2,0.0,10,none,airspeeder
5,TIE bomber,TIE/sa bomber,Sienar Fleet Systems,NaN,7.80,850.0,1,0.0,none,2 days,space/planetary bomber
6,AT-AT,All Terrain Armored Transport,"Kuat Drive Yards, Imperial Department of Milit...",NaN,20.00,60.0,5,40.0,1000,NaN,assault walker
7,AT-ST,All Terrain Scout Transport,"Kuat Drive Yards, Imperial Department of Milit...",NaN,2.00,90.0,2,0.0,200,none,walker
8,Storm IV Twin-Pod cloud car,Storm IV Twin-Pod,Bespin Motors,75000.0,7.00,1500.0,2,0.0,10,1 day,repulsorcraft
9,Sail barge,Modified Luxury Sail Barge,Ubrikkian Industries Custom Vehicle Division,285000.0,30.00,100.0,26,500.0,2000000,Live food tanks,sail barge
10,Bantha-II cargo skiff,Bantha-II,Ubrikkian Industries,8000.0,9.50,250.0,5,16.0,135000,1 day,repulsorcraft cargo skiff
12,Imperial Speeder Bike,74-Z speeder bike,Aratech Repulsor Company,8000.0,3.00,360.0,1,1.0,4,1 day,speeder
14,Multi-Troop Transport,Multi-Troop Transport,Baktoid Armor Workshop,138000.0,31.00,35.0,4,112.0,12000,NaN,repulsorcraft
16,Single Trooper Aerial Platform,Single Trooper Aerial Platform,Baktoid Armor Workshop,2500.0,2.00,400.0,1,0.0,none,none,repulsorcraft
17,C-9979 landing craft,C-9979 landing craft,Haor Chall Engineering,200000.0,210.00,587.0,140,284.0,1800000,1 day,landing craft
19,Sith speeder,FC-20 speeder bike,Razalon,4000.0,1.50,180.0,1,0.0,2,NaN,speeder
20,Zephyr-G swoop bike,Zephyr-G swoop bike,Mobquet Swoops and Speeders,5750.0,3.68,350.0,1,1.0,200,none,repulsorcraft
25,Tsmeu-6 personal wheel bike,Tsmeu-6 personal wheel bike,Z-Gomot Ternbuell Guppat Corporation,15000.0,3.50,330.0,1,1.0,10,none,wheeled walker
27,Droid tri-fighter,tri-fighter,"Colla Designs, Phlac-Arphocc Automata Industries",20000.0,5.40,1180.0,1,0.0,0,none,droid starfighter
28,Oevvaor jet catamaran,Oevvaor jet catamaran,Appazanna Engineering Works,12125.0,15.10,420.0,2,2.0,50,3 days,airspeeder
29,Raddaugh Gnasp fluttercraft,Raddaugh Gnasp fluttercraft,Appazanna Engineering Works,14750.0,7.00,310.0,2,0.0,20,none,air speeder
30,Clone turbo tank,HAVw A6 Juggernaut,Kuat Drive Yards,350000.0,49.40,160.0,20,300.0,30000,20 days,wheeled walker
31,Corporate Alliance tank droid,NR-N99 Persuader-class droid enforcer,Techno Union,49000.0,10.96,100.0,0,4.0,none,none,droid tank
32,Droid gunship,HMP droid gunship,"Baktoid Fleet Ordnance, Haor Chall Engineering",60000.0,12.30,820.0,0,0.0,0,none,airspeeder
33,AT-RT,All Terrain Recon Transport,Kuat Drive Yards,40000.0,3.20,90.0,1,0.0,20,1 day,walker
36,Flitknot speeder,Flitknot speeder,Huppla Pasa Tisc Shipwrights Collective,8000.0,2.00,634.0,1,0.0,NaN,NaN,speeder