In [32]:
import pandas as pd
import datetime as dt
import numpy as np

In [4]:
df = pd.read_csv("ufoData\\ufodata.csv")

In [76]:

df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude,date_doumented
0,,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111,2004-04-27
1,,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082,2005-12-16
2,,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667,2008-01-21
3,,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833,2004-01-17
4,,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611,2004-01-22

In [77]:
import regex as re
def clean_date(date):
    return ' '.join(re.sub('[0-9]{2}/[0-9]{2}/[0-9]{4}', ' ', date).split())

df['Date_time'] = df['Date_time'].apply(lambda x: clean_date(x))

In [79]:
#df['Date_time']
#df['Date_time'] = df['Date_time'].astype('datetime64[ns]')
print("\nCurrent date of Ufo dataset:")
print(df.Date_time.max())
print("\nOldest date of Ufo dataset:")
print(df.Date_time.min())
print("\nNumber of days between Current date and oldest date of Ufo dataset:")
print((df.Date_time.max() - df.Date_time.min()).days)

Current date of Ufo dataset:
2014-05-08 00:00:00

Oldest date of Ufo dataset:
1910-01-01 00:00:00

Number of days between Current date and oldest date of Ufo dataset:
38113

In [59]:
df['date_doumented'] = pd.to_datetime(df['date_documented'])

In [60]:
print("\nYear:")
print(df.date_documented.dt.year.head())
print("\nMonth:")
print(df.date_documented.dt.month.head())
print("\nDay:")
print(df.date_documented.dt.day.head())
print("\nHour:")
print(df.date_documented.dt.hour.head())
print("\nMinute:")
print(df.date_documented.dt.minute.head())
print("\nSecond:")
print(df.date_documented.dt.second.head())
print("\nWeekday:")
print(df.date_documented.dt.weekday_name.head())

Year:
0    2004
1    2005
2    2008
3    2004
4    2004
Name: date_documented, dtype: int64

Month:
0     4
1    12
2     1
3     1
4     1
Name: date_documented, dtype: int64

Day:
0    27
1    16
2    21
3    17
4    22
Name: date_documented, dtype: int64

Hour:
0    0
1    0
2    0
3    0
4    0
Name: date_documented, dtype: int64

Minute:
0    0
1    0
2    0
3    0
4    0
Name: date_documented, dtype: int64

Second:
0    0
1    0
2    0
3    0
4    0
Name: date_documented, dtype: int64

Weekday:
0     Tuesday
1      Friday
2      Monday
3    Saturday
4    Thursday
Name: date_documented, dtype: object

In [47]:
np.where(pd.isnull(df))

(array([    1,     2,     6, ..., 80322, 80322, 80324], dtype=int64),
 array([3, 2, 2, ..., 2, 3, 3], dtype=int64))