In [92]:
import pandas as pd
import datetime as dt
import numpy as np

In [93]:
df = pd.read_csv("ufoData\\ufodata.csv")

In [94]:
df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [95]:
df2 = df[df["Date_time"] != ""]

In [96]:
import regex as re
def get_time(x):
    try:
        time = dt.datetime.strptime(x, "%m/%d/%Y %H:%M")
    except ValueError:
        x = x.replace(' 24', ' 23')
        time = dt.datetime.strptime(x, "%m/%d/%Y %H:%M")
        time += dt.timedelta(hours=1)
    return time

df2['Date_time'] = df2['Date_time'].apply(lambda x: get_time(x))

In [98]:
#df['Date_time'] = df['Date_time'].astype('datetime64[ns]')
print("\nCurrent date of Ufo dataset:")
print(df2.Date_time.max())
print("\nOldest date of Ufo dataset:")
print(df2.Date_time.min())
print("\nNumber of days between Current date and oldest date of Ufo dataset:")
print((df2.Date_time.max() - df2.Date_time.min()).days)

Current date of Ufo dataset:
2014-05-08 18:45:00

Oldest date of Ufo dataset:
1906-11-11 00:00:00

Number of days between Current date and oldest date of Ufo dataset:
39260

In [59]:
df['date_doumented'] = pd.to_datetime(df['date_documented'])

In [99]:
print("\nYear:")
print(df2.Date_time.dt.year.head())
print("\nMonth:")
print(df2.Date_time.dt.month.head())
print("\nDay:")
print(df2.Date_time.dt.day.head())
print("\nHour:")
print(df2.Date_time.dt.hour.head())
print("\nMinute:")
print(df2.Date_time.dt.minute.head())
print("\nSecond:")
print(df2.Date_time.dt.second.head())
print("\nWeekday:")
print(df2.Date_time.dt.weekday_name.head())

Year:
0    1949
1    1949
2    1955
3    1956
4    1960
Name: Date_time, dtype: int64

Month:
0    10
1    10
2    10
3    10
4    10
Name: Date_time, dtype: int64

Day:
0    10
1    10
2    10
3    10
4    10
Name: Date_time, dtype: int64

Hour:
0    20
1    21
2    17
3    21
4    20
Name: Date_time, dtype: int64

Minute:
0    30
1     0
2     0
3     0
4     0
Name: Date_time, dtype: int64

Second:
0    0
1    0
2    0
3    0
4    0
Name: Date_time, dtype: int64

Weekday:
0       Monday
1       Monday
2       Monday
3    Wednesday
4       Monday
Name: Date_time, dtype: object

In [100]:
np.where(pd.isnull(df2))

(array([    1,     2,     6, ..., 80322, 80322, 80324], dtype=int64),
 array([3, 2, 2, ..., 2, 3, 3], dtype=int64))